<section class="bg-primary">
    <div class="row">
      <div class="col-md-6 d-none d-md-block">
          <img class="img-banner p-5" src="/assets/imagens/controlevideogame.png" alt="">
      </div>
      
      <div class="col-md-6 d-flex">
          <div class="align-self-md-center mx-5">
              <h1 class="display-4">
                  Venha conhecer nosso diferencial
              </h1>
              <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto fuga ullam voluptas. Quisquam voluptatem error quae quasi a recusandae excepturi tempora fuga voluptate, facere deleniti voluptatum officia doloremque dolorem minima.
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto fuga ullam voluptas. Quisquam voluptatem error quae quasi a recusandae excepturi tempora fuga voluptate, facere deleniti voluptatum officia doloremque dolorem minima.
              </p>
          </div>
      </div>

    </div>
</section>

<app-destaque>app-destaque</app-destaque>