<section>
    <div class="row">
        <div class="text-center">
          <h1 class="display-4 mt-5">
              Que tal conhecer nossas obras em destaque
          </h1>
          <p class="m-5">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto fuga ullam voluptas. Quisquam voluptatem error quae quasi a recusandae excepturi tempora fuga voluptate, facere deleniti voluptatum officia doloremque dolorem minima.
          </p>
        </div>
    </div>
    <div class="row">
        <div>
          <div class="d-flex justify-content-center">
              <div class="galeria">
                  <a href="/assets/imagens/Controle.jpg">
                      <img class="img-destaque img-thumbnail" src="/assets/imagens/Controle.jpg" alt="">
                  </a>
                  <p>Jogo</p>
                  <p>Ano</p>
              </div>
                  <div class="galeria">
                      <a href="/assets/imagens/Controle.jpg">
                          <img class="img-destaque img-thumbnail"src="/assets/imagens/Controle.jpg" alt="">
                        </a>
                        <p>Jogo</p>
                        <p>Ano</p>
                    </div>
                    <div class="galeria">
                      <a href="/assets/imagens/Controle.jpg">
                          <img class="img-destaque img-thumbnail"src="/assets/imagens/Controle.jpg" alt="">
                        </a>
                        <p>Jogo</p>
                        <p>Ano</p>
                    </div>
                    <div class="galeria">
                      <a href="/assets/imagens/Controle.jpg">
                          <img class="img-destaque img-thumbnail"src="/assets/imagens/Controle.jpg" alt="">
                        </a>
                        <p>Jogo</p>
                        <p>Ano</p>
                    </div>
                    <div class="galeria">
                      <a href="/assets/imagens/Controle.jpg">
                          <img class="img-destaque img-thumbnail"src="/assets/imagens/Controle.jpg" alt="">
                        </a>
                        <p>Jogo</p>
                        <p>Ano</p>
                    </div>
          </div>
        </div>

    </div>
</section>


<app-novidades></app-novidades>